*{
  text-align: center;
  box-sizing: border-box;
}
.space{
  height: 40px;
  width: 40px;
  margin: 8px;
  background-color: white;

  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(206, 206, 117);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.541), inset 0 0 4px rgba(0, 0, 0, 0.452);

  display: flex;
  justify-content: center;
  align-items: center;
}
.board{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.col-container{
  background-color: rgb(206, 206, 117);
  position: relative;
}
.column{
  position: absolute;
  height: 100%;
  width: 100%;
}
.col-container:hover{
  background-color: rgb(240, 240, 170);
}
.win-display{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  
  color: rgb(83, 83, 42);
  background-color: rgba(255, 255, 255, 0.411);
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0 0 15px white, 0 0 15px white;

  display: flex;
  align-items: center;
  justify-content: center;
}